/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

 @import "compass/reset";
 @import "mixins";
 //@import "media";

 

 %oNormal{
 	font-family: 'Open Sans';
 	font-weight: normal;
 	font-style: normal;
 }
 %oBold{
 	font-family: 'Open Sans';
 	font-weight: bold;
 	font-style: normal;
 }
 %oSemiBold{
 	font-family: 'Open Sans';
 	font-weight: 600;
 	font-style: normal;
 }
 %sNormal{
 	font-family: 'Socialico';
 	font-weight: normal;
 	font-style: normal;
 }
 %qBold{
 	font-family: 'Quattrocento Sans';
 	font-weight: bold;
 	font-style: normal;
 }

 body{
 	margin: 0px;
 	padding: 0px;
 	font-size: 16px;
 	h3{
 		font-size: 36px;
 		line-height: 42px;
 		color: #292f36;
 		@extend %qBold;
 		text-transform: uppercase;
 		border-left: 10px solid #e1e6ea;
 		padding-left: 14px;
 	}
 	.img_responsive{
 		max-width: 100%;
 		height: auto;
 		display: block;
 	}
 	.fixed{
 		position: fixed;
 		z-index: 9999999999;
 	}
 }

//=============================== HEADER =======================================

header{
	.nav_wrap{
		background: #1d2126;
		padding: 25px 0px 25px;
		width: 100%;
		.logo{
			padding: 7px;
		}
		.dsp{
			display: none;
		}
		input[type="checkbox"] {
			position: absolute;
			display:none;
		}
		ul{
			vertical-align: middle;
			list-style: none;
			margin: 0px;
			li{
				display: inline-block;
				margin-left: 16px;
				border: 2px solid transparent;
				&:hover{
					border: 2px solid #5b6168;
					border-radius: 2px;
				}
				a{
					display: inline-block;
					padding: 6px 10px;
					text-transform: uppercase;
					text-decoration: none;
					font-size: 14px;
					@extend %oSemiBold;
					color: #a4aead;
				}
			}
		}
	}
	.slider-wrap{
		background: url('../../images/header/background.jpg') no-repeat center center;
		background-size: cover;
		padding: 205px 0px 0px 0px;
		#myCarousel{
			padding-bottom: 205px;
			.carousel-indicators{
				position: absolute;
				left: 100%;
				bottom: 20px;
			}
			.carousel-inner{
				.item{
					h2{
						font-size: 36px;
						@extend %qBold;
						color: #fff;
						text-transform: uppercase;
						margin-bottom: 32px;
					}
					span{
						@extend %oNormal;
						font-size: 16px;
						color: #ccd0d7;
					}
					.btn_container{
						margin-top: 45px;
						padding: 0px 15px;
						.view-more,.video-tour{
							display: inline-block;
							margin-right: 4px;
							a{
								display: inline-block;
								font-size: 14px;
								@extend %qBold;
								color: #fff;
								text-transform: uppercase;
								text-decoration: none;
								border: 2px solid #fff;
								padding: 12px 23px;
								@include border-radius(3px);
								&:hover{
									background: #23b7a4;
									border: 2px solid transparent;
								}
							}
						}
						&:after{
							clear: both;
							display: table;
							content: '';
						}
					}
				}
			}
		}
	}
	
}


//=============================== WE ARE MODEST ===========================================

section#weAreModest{
	.wrap{
		padding: 85px 0px 100px;
		border-bottom: 1px solid #dde1e4;
		.main_text_block{
			h3{
				margin-bottom: 65px;
			}
			span{
				font-size: 16px;
				line-height: 26px;
				@extend %oNormal;
				color: #8d8f92;
			}
			.links-container{
				margin-top: 54px;
				a{
					text-decoration: none;
					display: inline-block;
					float: left;
					margin-right: 1px;
					div{
						display: inline-block;
						@extend %sNormal;
						padding: 10px 23px 8px 24px;
						background-color: #c8cdd0;
						font-size: 36px;
						line-height: 42px;
						color: #fff;
						text-transform: uppercase;
						&:hover{
							background-color: #d0d5d9;
						}
					}
				}
			}
		}
		.points{
			margin-top: 65px;
			.item{
				margin-bottom: 35px;
				.number{
					float: left;
					margin-bottom: 15px;
					span{
						display: inline-block;
						@extend %qBold;
						font-size: 20px;
						margin-top: 14px;
						line-height: 42px;
						color: #fff;
						padding: 6px 15px 2px 17px;
						background: #23b7a4;
						text-transform: uppercase;
					}
					h2{
						display: inline;
						margin: 0px;
						font-size: 18px;
						line-height: 42px;
						@extend %qBold;
						color: #292f36;
						text-transform: uppercase;
					}
				}
				.text_block{
					float: left;
					span{
						@extend %oNormal;
						font-size: 16px;
						line-height: 26px;
						color: #8d8f92;
					}
				}
			}
		}
	}
}



//=============================== MEET THE TEAM ===========================================

section#meetTheTeam{
	.wrap{
		margin: 87px 0px 100px;
		h3{
			margin-left: 15px;
			margin-bottom: 65px;
		}
		.teamMember{
			$links-quantity: 3;
			$links-width: 52px;
			$links-height: 50px;
			.mrgn-container{
				display: inline-block;
				.img_container{
					position: relative;
					margin: 0px auto;
					.img-cover{
						position: absolute;
						width: 100%;
						height: 100%;
						top: 0px;
						left: 0px;
					}
					.links-container{
						position: absolute;
						width: $links-quantity*$links-width;
						div{
							position: relative;
							display: none;
							a{
								font-size: 28px;
								line-height: 13px;
								@extend %sNormal;
								text-decoration: none;
								display: inline-block;
								float: left;
								margin-right: 1px;
								background-color: #3a454d;
								&:nth-child(1){
									padding: 18px 14px  19px 15px;
								}
								&:nth-child(2){
									padding: 19px 19px 18px 19px;
								}
								&:nth-child(3){
									padding: 18px 17px 19px 16px;
								}
							}
							&:after{
								display: table;
								clear: both;
								content: '';
							}
						}
					}
				}
			}
			
			.description{
				background: #e1e6ea;
				padding: 20px 0px 15px 20px;
				h5{
					font-size: 16px;
					line-height: 35px;
					@extend %qBold;
					color: #292f36;
					text-transform: uppercase;
					margin: 0;
				}
				span{
					font-size: 14px; 
					line-height: 26px;
					@extend %oNormal;
					color: #8d8f92;
				}
			}
			&:hover{
				.img_container{
					.img-cover{
						background: #d4dade;
						opacity: 0.8;
					}
					.links-container{
						top: 50%; 
						left: 50%;
						div{
							display: inline-block;
							left: -($links-quantity*$links-width/2);
							top: -($links-height/2);
						}
					}
				}
				.description{
					background: #3a454d;
					h5{
						color: #ffffff;
					}
					span{
						color: #ffffff;
					}
				}
			}
		}
	}
}

//=============================== LOVELY WORK ===========================================

section#lovelyWork{
	.wrap{
		background: #3a454d;
		padding: 85px 0px 60px;
		h3{
			margin-bottom: 60px;
			margin-left: 15px;
			color: #fff;
		}
		.col{
			text-align: center;
			margin-bottom: 30px;
			.img-container{
				text-align: left;
				position: relative;
				display: inline-block;
				.img-cover{
					position: absolute;
					width: 100%;
					height: 100%;
					top: 0px;
					left: 0px;
				}
				.add-btn{
					@include center(null,null,45%,50%);
					display: none;
				}
				.description{
					display: none;
					padding: 9px 20px 9px 20px;
					background: #292f36;
					width: 100%;
					position: absolute;
					bottom: 0px;
					left: 0px;
					h5{
						@extend %qBold;
						font-size: 18px;
						line-height: 42px;
						text-transform: uppercase;
						color: #fff;
						margin: 0px;
					}
				}
				&:hover{
					.img-cover{
						background: #7898ad;
						opacity: 0.4;
					}
					.add-btn{
						display: block;
						cursor: pointer;
					}
					.description{
						display: block;
					}
				}
			}
		}
		.btn-container{
			margin-top: 30px;
			.showMeMore{
				text-decoration: none;
				.btn{
					text-transform: uppercase;
					font-size: 14px;
					line-height: 28px;
					color: #fff;
					padding: 9px 14px 6px 15px;
					border: 2px solid #fff;
					@include border-radius(6px);
				}
			}
		}
	}
}


//=============================== WHAT WE DO ===========================================

section#WhatWeDo{
	.wrap{
		padding: 70px 0px;
		h3{
			margin-bottom: 95px;
		}
		.skills_container{
			.skills{
				margin-bottom: 95px;
				text-align: center;
				img{
					margin-bottom: 25px;
				}
				h5{
					text-transform: uppercase;
					@extend %qBold;
					font-size: 17px;
					color: #292f36;
				}
				span{
					@extend %oNormal;
					font-size: 16px;
					line-height: 26px;
					color: #8d8f92;
				}
			}
		}
	}
}


//=============================== FEATURES ===========================================

section#features{
	.wrap{
		background-color: #3a454d;
		padding: 72px 0px 120px;
		h3{
			margin-left: 15px;
			color: #fff;
			margin-bottom: 63px;
		}
		.features_container{
			.features{
				img{
					margin-bottom: 40px;
				}
				h5{
					@extend %qBold;
					font-size: 18px;
					line-height: 42px;
					color: #fff;
					text-transform: uppercase;
				}
				span{
					@extend %oNormal;
					font-size: 16px;
					line-height: 26px;
					color: #dcdfe1;
				}
			}
		}
	}
}


//=============================== STAY IN TOUCH ===========================================


section#stayInTouch{
	.wrap{
		padding: 65px 0px 100px;
		h3{
			margin-left: 15px;
			margin-bottom: 65px;
		}
		.map-container{
			margin-bottom: 60px;
		}
		.contact_us{
			.contact_information{
				h5{
					@extend %qBold;
					font-size: 20px;
					line-height: 26px;
					color: #292f36;
					margin-bottom: 40px;
					text-transform: uppercase;
				}
				span{
					@extend %oNormal;
					font-size: 16px;
					line-height: 26px;
					color: #8d8f92;
				}
			}
			.message_sender{
				background-color: #fff;
				padding: 30px;
				position: relative;
				top: -190px;
				z-index: 99999;
				label{
					text-transform: uppercase;
					font-size: 14px;
					line-height: 26px;
					color: #8d8f92;
					@extend %qBold;
				}
				.name-container,.email-container{
					display: inline-block;
					margin-bottom: 30px;
					input#name,input#email{
						background-color: #eaeef1;
						@include border-radius(2px);
						display: block;
						height: 45px;
						border: 0px;
						width: 100%;
					}
				}
				.email-container{
					padding-left: 0px;
				}
				#message{
					width: 100%;
					resize: none;
					height: 160px;
					background-color: #eaeef1;
					margin-bottom: 30px;
					border: 0px;
				}
				.btn-sender{
					display: block;
					text-transform: uppercase;
					color: #fff;
					background-color: #23b7a4;
					font-size: 14px;
					line-height: 28px;
					@extend %qBold;
					padding: 9px 30px;
					border: 0px;
					@include border-radius(7px);
					margin-left: 15px;
				}
			}
		}
	}
	

}


//=============================== FOOTER ===========================================

footer{
	.wrap{
		background-color: #3a454d;
		padding: 40px 0px 40px;
		.copy-text{
			span{
				@extend %oNormal;
				font-size: 14px;
				line-height: 26px;
				color: #f5f6f6;
			}
		}
		.links-container{
			a{
				float: right;
				display: inline-block;
				margin-right: 12px;
				text-decoration: none;
				span{
					font-size: 28px;
					line-height: 40px;
					@extend %sNormal;
					color: #ffffff;
				}
			}
		}
	}
}
//========================================= ADAPTIVE ===============================
@media(min-width: 0px) and (max-width: 320px){
	body{
		.img_responsive{
			width: 100%;
			height: auto;
			display: block;
		}
	}
	header{
		.nav_wrap{
			.logo{
				float: right;
			}
			.dsp{
				padding-left: 10px;
				display: inline-block;
				color: white;
			}
			input[type="checkbox"] {
				&:checked{
					&+ul{
						display: block;
					}
				}
				&+ul{
					display: none;
				}
				position: absolute;
				display:none;
			}
			ul{
				float: right;
				position: absolute;
				padding: 0px;
				margin: 0px;
				li{
					display: block;
					width: 85px;
					border: 1px solid black;
					border-bottom: none;
					padding: 0px 4px;
					&:last-child{
						border-bottom: 1px solid black;
					}
					&:hover{
						background-color: #e1e6ea;
						a{
							color: #000;
						}
					}
					a{
						text-transform: uppercase;
						text-decoration: none;
						font-size: 14px;
						color: #a4aead;
					}
				}
			}
		}
		.slider-wrap{
			#myCarousel{
				.carousel-indicators{
					left: 12%;
				}
				.carousel-inner{
					.item{
						.btn_container{
							margin-top: 45px;
							padding: 0px 15px;
							.view-more,.video-tour{
								margin-top: 10px;
							}
						}
					}
				}
			}
		}
	}

	section#weAreModest{
		.wrap{
			.main_text_block{
				.links-container{
					margin-top: 54px;
					a{
						text-decoration: none;
						display: inline-block;
						float: left;
						margin-right: 1px;
						div{
							display: inline-block;
							padding: 5px 10px;
							background-color: #c8cdd0;
							font-size: 36px;
							line-height: 42px;
							color: #fff;
							text-transform: uppercase;
							&:hover{
								background-color: #d0d5d9;
							}
						}
					}
				}
			}
		}
	}
	section#meetTheTeam{
		.wrap{
			.teamMember{
				.mrgn-container{
					margin: 20px;
					text-align: left;
					.img_container{
						display: inline-block;
					}
				}
			}
		}
	}
	section#features{
		.wrap{
			.features_container{

				.features{
					margin-bottom: 60px;
				}
			}
		}
	}
	section#stayInTouch{
		.wrap{
			.contact_us{
				.contact_information{
					display: none;
				}
				.message_sender{
					.email-container{
						padding-left: 15px;
					}
				}
			}
		}
	}

}
@media(min-width: 321px) and (max-width: 480px){
	body{
		.img_responsive{
			display: inline;
			max-width: none;
		}
	}
	header{
		.nav_wrap{
			background: #1d2126;
			padding: 25px 0px 25px;
			.logo{
				float: right;
			}
			.dsp{
				padding-left: 10px;
				display: inline-block;
				color: white;
			}
			input[type="checkbox"] {
				&:checked{
					&+ul{
						display: block;
					}
				}
				&+ul{
					display: none;
				}
				position: absolute;
				display:none;
			}
			ul{
				float: right;
				position: absolute;
				padding: 0px;
				margin: 0px;
				li{
					display: block;
					width: 150px;
					border: 1px solid black;
					border-bottom: none;
					padding: 0px 4px;
					&:last-child{
						border-bottom: 1px solid black;
					}
					&:hover{
						background-color: #e1e6ea;
						a{
							color: #000;
						}
					}
					a{
						text-transform: uppercase;
						text-decoration: none;
						font-size: 14px;
						color: #a4aead;
					}
				}
			}
		}
		.slider-wrap{
			#myCarousel{
				.carousel-indicators{
					position: absolute;
					left: 10%;
					bottom: 20px;
				}
			}
		}
	}
	section#weAreModest{
		.wrap{
			.main_text_block{
				.links-container{
					margin-top: 54px;
					a{
						text-decoration: none;
						display: inline-block;
						float: left;
						margin-right: 1px;
						div{
							display: inline-block;
							padding: 5px 10px;
							background-color: #c8cdd0;
							font-size: 36px;
							line-height: 42px;
							color: #fff;
							text-transform: uppercase;
							&:hover{
								background-color: #d0d5d9;
							}
						}
					}
				}
			}
		}
	}
	section#meetTheTeam{
		.wrap{
			.teamMember{
				text-align: center;
				.mrgn-container{
					display: inline-block;
					margin: 20px;
					text-align: left;
					.img_container{
						display: inline-block;
					}
				}
			}
		}
	}
	section#features{
		.wrap{
			.features_container{

				.features{
					margin-bottom: 60px;
				}
			}
		}
	}
	section#stayInTouch{
		.wrap{
			.contact_us{
				.contact_information{
					display: none;
				}
				.message_sender{
					.email-container{
						padding-left: 15px;
					}
				}
			}
		}
	}

}

@media(min-width: 481px) and (max-width: 768px){
	body{
		.img_responsive{
			display: inline;
			max-width: none;
		}
	}
	header{
		.nav_wrap{
			background: #1d2126;
			padding: 25px 0px 25px;
			.logo{
				float: right;
			}
			.dsp{
				padding-left: 10px;
				display: inline-block;
				color: white;
			}
			input[type="checkbox"] {
				&:checked{
					&+ul{
						display: block;
					}
				}
				&+ul{
					display: none;
				}
				position: absolute;
				display:none;
			}
			ul{
				float: right;
				position: absolute;
				padding: 0px;
				margin: 0px;
				li{
					display: block;
					width: 150px;
					border: 1px solid black;
					border-bottom: none;
					padding: 0px 4px;
					&:last-child{
						border-bottom: 1px solid black;
					}
					&:hover{
						background-color: #e1e6ea;
						a{
							color: #000;
						}
					}
					a{
						text-transform: uppercase;
						text-decoration: none;
						font-size: 14px;
						color: #a4aead;
					}
				}
			}
		}
		.slider-wrap{
			#myCarousel{
				.carousel-indicators{
					position: absolute;
					left: 10%;
					bottom: 20px;
				}
			}
		}
	}
	section#meetTheTeam{
		.wrap{
			.teamMember{
				text-align: center;
				.mrgn-container{
					display: inline-block;
					margin: 20px;
					text-align: left;
					.img_container{
						display: inline-block;
					}
				}
			}
		}
	}
	section#features{
		.wrap{
			.features_container{

				.features{
					margin-bottom: 60px;
				}
			}
		}
	}	
	section#stayInTouch{
		.wrap{
			.contact_us{
				.contact_information{
					display: none;
				}
			}
		}
	}
}
@media(min-width: 769px) and (max-width: 992px){
	body{
		.img_responsive{
			display: inline;
			max-width: none;
		}
	}
	header{
		.nav_wrap{
			background: #1d2126;
			padding: 25px 0px 25px;
			ul{
				padding-top: 20px;
			}
		}
		.slider-wrap{
			#myCarousel{
				.carousel-indicators{
					position: absolute;
					left: 50%;
					bottom: 20px;
				}
			}
		}
	}
	section#meetTheTeam{
		.wrap{
			.teamMember{
				.mrgn-container{
					display: inline-block;
					margin: 20px auto;
					.img_container{
						margin: 0px auto;
						display: inline-block;
					}
				}
			}
		}
	}

}
@media(min-width: 993px) and (max-width: 1200px){
	header{
		.slider-wrap{
			#myCarousel{
				.carousel-indicators{
					position: absolute;
					left: 90%;
					bottom: 20px;
				}
			}
		}
	}


}